*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme: #1a1a1a;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: #fff;
  height: 200vh;
}
